@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300&family=Major+Mono+Display&family=Monofett&display=swap');

*,
*::before,
*::after {
  font-family: 'Inter', sans-serif;
  --coral: #ff533d;
  --blue: #7dd0db;
  --sandy: #ffd9a6;
  --eggshell: #f5f5f5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--eggshell);
}

li {
  list-style: none;
}
